$color-nav: #1d2126;
$white: #ffffff;
$grey: #8d8f92;
$black: #292f36;
$green: #23b7a4;
$color-background: #3a454d;
$font-style: 'Open Sans',
sans-serif;
$font-headers: 'Quattrocento Sans',
sans-serif;


@mixin border {
    padding-left: 16px;
    border-left: 10px solid #e1e6ea;
    text-align: left;
    text-transform: uppercase;
    font-size: 26px;
}

@mixin background-property {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin center {
    display: flex;
    align-items: center;
}
