@import 'zmienne';

#services {
    padding-top: 80px;
    .container {
        #header-services {
            h2 {
                margin: 0;
            }
        }
        .row {
            .col-sm-6 {
                text-align: center;
                padding-top: 94px;
                figure {
                    margin-bottom: 35px;
                }
                h3 {
                    padding-bottom: 28px;
                    font-size: 17px;
                    text-transform: uppercase;
                }
            }
        }
    }
}
