@import 'zmienne';

body {
    margin: 0;
    color: black;
    font-family: $font-headers;
}

p {
    font-family: $font-style;
    color: $grey;
}

h2 {
    @include border;
    margin: 0;
}

h2,
h3 {
    font-weight: 700;
    color: $black;
}

p,
h3 {
    margin: 0;
}

@import 'nav';
@import 'header';
@import 'team';
@import 'work';
@import 'services';
@import 'contact';
@import 'footer';
